In [2]:
import os
import sys
sys.path.append("/home/rohit/PhD_Work/GM_my_version/Graph_matching/")
from sklearn.cluster import KMeans
import networkx as nx
import numpy as np
from graph_matching_tools.io.graph_dataset import GraphDataset
from graph_matching_tools.metrics import matching
import matplotlib.pyplot as plt
import scipy.io as sio
import pandas as pd

In [11]:
path_to_phenotype = '../data/ABIDE/Phenotypic_V1_0b_traitements_visual_check_GA.xls'
Abide_phen = pd.read_excel(path_to_phenotype, engine="xlrd")

In [15]:
Abide_phen

,SITE_ID,SUB_ID,FS segmentation (0=OK 1=bon 2=moyen 3=pas bon 4=echec),checked,FS_segmentation_comments,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,...,WISC_IV_BLK_DSN_SCALED,WISC_IV_PIC_CON_SCALED,WISC_IV_MATRIX_SCALED,WISC_IV_DIGIT_SPAN_SCALED,WISC_IV_LET_NUM_SCALED,WISC_IV_CODING_SCALED,WISC_IV_SYM_SCALED,EYE_STATUS_AT_SCAN,AGE_AT_MPRAGE,BMI
0,PITT,50002,0,no,NaN,1,1,16.77,1,Ambi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,PITT,50003,2,yes,NaN,1,1,24.45,1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
2,PITT,50004,0,no,NaN,1,1,19.09,1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
3,PITT,50005,0,no,NaN,1,1,13.73,2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,PITT,50006,0,no,NaN,1,1,13.37,1,L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,SBL,51583,0,no,NaN,1,2,35.00,1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
1108,SBL,51584,0,no,NaN,1,2,49.00,1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,23.24
1109,SBL,51585,0,no,NaN,1,1,27.00,1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
1110,MAX_MUN,51606,0,no,NaN,1,2,29.00,2,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1111,MAX_MUN,51607,0,no,NaN,1,2,26.00,1,R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN

In [24]:
np.array(Abide_phen['SITE_ID'])

array(['PITT', 'PITT', 'PITT', ..., 'SBL', 'MAX_MUN', 'MAX_MUN'],
      dtype=object)

In [26]:
unique, counts = np.unique(np.array(Abide_phen['SITE_ID']), return_counts=True)
dict(zip(unique, counts))

{'CALTECH': 38,
 'CMU': 27,
 'KKI': 55,
 'LEUVEN_1': 29,
 'LEUVEN_2': 35,
 'MAX_MUN': 57,
 'NYU': 184,
 'OHSU': 28,
 'OLIN': 36,
 'PITT': 57,
 'SBL': 30,
 'SDSU': 36,
 'STANFORD': 40,
 'TRINITY': 49,
 'UCLA_1': 82,
 'UCLA_2': 27,
 'UM_1': 110,
 'UM_2': 35,
 'USM': 101,
 'YALE': 56}

In [27]:
unique, counts = np.unique(np.array(Abide_phen['SEX']), return_counts=True)
dict(zip(unique, counts))

{1: 948, 2: 164}